body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fceff4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    color: #ff69b4;
    font-size: 36px;
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.no {
    background-color: #ffb6c1;
    color: #fff;
    margin-right: 20px;
}

.yes {
    background-color: #98fb98;
    color: #fff;
}